PORT=5000
MONGODB_URI=mongodb://127.0.0.1:27017/naitik_public_school
JWT_SECRET=change-this-to-a-long-random-secret


PORT=5000

MONGODB_URI=mongodb+srv://NPSBIRJA:<db_password>@cluster0.tzo3rki.mongodb.net/?appName=Cluster0

JWT_SECRET=lPc2fO+if2169AnFdgWB5jMyrC5qCNCS94l3H8K7q/ntufQUScIHQRbeF6Ae/qn8
